test-tree-1/src/main/mule/command-line-tree-commands-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config_command_line" doc:name="HTTP Listener config" doc:id="bfbab874-ee6a-4d2d-8636-99e4026e4764" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="command-line-receiver-flow" doc:id="172d215a-9406-41f8-a037-64de7af7a1b8" initialState="started" maxConcurrency="1">
			<http:listener doc:name="Listener" doc:id="1dca35cb-6a83-44cc-85f0-2ed553b182e6" config-ref="HTTP_Listener_config_command_line" path="/orderCommands" outputMimeType="application/json"/>		
		<logger level="INFO" doc:name="Logger" doc:id="0cbe1643-b0d0-47d8-8ed1-49fb186080ae" message="payload is: #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="8cbb47eb-ef28-450f-b505-fb5a1630a1d8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:new doc:name="New" doc:id="545be89a-c623-42ed-8e9a-33128ec293bb" class="recursiveTreeOrderCommands" constructor="recursiveTreeOrderCommands(java.util.ArrayList)">
			<java:args><![CDATA[#[payload]]]></java:args>
		</java:new>
	</flow>
</mule>
