test-tree-1/src/main/mule/test-tree-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="test-tree-1Flow1" doc:id="172d215a-9406-41f8-a037-64de7af7a1b8" initialState="started" maxConcurrency="1">
		<scheduler doc:name="Scheduler" doc:id="d36f7b56-d421-4299-8611-9b21d5c659ba" >
			<scheduling-strategy >
				<cron expression="0 0/1 * 1/1 * ? *" />
			</scheduling-strategy>
		</scheduler>
		<set-payload value="#[{ 
	&quot;tasks&quot;:
	[
		{&quot;name&quot; : &quot;task-1&quot; ,&quot;command&quot; : &quot;touch /tmp/file1&quot;},
		{&quot;name&quot; : &quot;task-2A&quot; ,&quot;command&quot; : &quot;cat /tmp/file1&quot;, &quot;requires&quot; : [&quot;task-3&quot;]},
		{&quot;name&quot; : &quot;task-2B&quot; ,&quot;command&quot; : &quot;cat /tmp/file1&quot;, &quot;requires&quot; : [&quot;task-3&quot;]},
		{&quot;name&quot; : &quot;task-2C&quot; ,&quot;command&quot; : &quot;cat /tmp/file1&quot;, &quot;requires&quot; : [&quot;task-3&quot;]},
		{&quot;name&quot; : &quot;task-2D&quot; ,&quot;command&quot; : &quot;cat /tmp/file1&quot;, &quot;requires&quot; : [&quot;task-3&quot;]},						
		{&quot;name&quot; : &quot;task-3&quot; ,&quot;command&quot; : &quot;echo 'Hello World!' &gt; /tmp/file1&quot;, &quot;requires&quot; : [&quot;task-1&quot;]},
		{&quot;name&quot; : &quot;task-4&quot; ,&quot;command&quot; : &quot;rm /tmp/file1&quot;, &quot;requires&quot; : [&quot;task-2A&quot;, &quot;task-2B&quot;, &quot;task-2C&quot;, &quot;task-2D&quot;,&quot;task-3&quot;]}
	]
}]" doc:name="Set Payload" doc:id="9ce0c777-c12c-491f-b6de-4255619baffb"/>
		<logger level="INFO" doc:name="Logger" doc:id="0cbe1643-b0d0-47d8-8ed1-49fb186080ae" message="payload is: #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="8cbb47eb-ef28-450f-b505-fb5a1630a1d8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:new doc:name="New" doc:id="545be89a-c623-42ed-8e9a-33128ec293bb" class="recursiveTreeOrderCommands" constructor="recursiveTreeOrderCommands(java.util.ArrayList)">
			<java:args><![CDATA[#[payload]]]></java:args>
		</java:new>
	</flow>
</mule>
